@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Montserrat&family=Quicksand:wght@300&family=Source+Sans+Pro:wght@400&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --hero-text-color: white;
  --hero-code-title-bg-color: #1a1a1a;
  --hero-code-editor-bg-color: #2e2e2e;
  --hero-bg-image: url("../img/hero-bg.jpg");
}

.light {
  --hero-text-color: black;
  --hero-code-title-bg-color: white;
  --hero-code-editor-tab-bar-bg-color: whitesmoke;
  --hero-bg-image: url("../img/hero-bg-light.jpg");
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
.nav__bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background: transparent;
  width: inherit;
  color: var(--hero-text-color);
  z-index: 10;
}

.nav__bar__section {
  display: flex;
  align-items: center;
}

.nav__bar__icon {
  height: 35px;
  width: 35px;
  margin-left: 0.5em;
}

.nav__bar__title {
  font-family: "Antic Slab", serif;
  margin: 0 1em;
  letter-spacing: 0.1em;
  font-weight: 800;
}

.hero {
  position: relative; /* To set absolute pseudo background. */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 2.5fr 2fr;
  grid-template-areas: ". title . code .";

  padding: 4em 0 2em 0;
  color: var(--hero-text-color);
}

@media screen and (max-width: 650px) {
  .hero {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: ". title .";
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: var(--hero-bg-image);
  filter: opacity(0.3);
  background-size: contain;
}

.hero__titles__container {
  position: relative;
  grid-area: title;
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 650px) {
  .hero__titles__container {
    text-align: center;
  }
}

.hero__series__title {
  font-size: 1.2em;
  font-weight: 1000;
}

.hero__topic__title {
  display: block;
  font-family: Montserrat, sans-serif;
  font-size: 5em;
  font-weight: 500;
  margin: 0.2em 0;
}

.hero__topic__subtitle {
  font-size: 1.2em;
  font-weight: 1000;
}

.hero__code__example {
  width: 100%;
  grid-area: code;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 0 15px 2px;
}

@media screen and (max-width: 650px) {
  .hero__code__example {
    display: none;
  }
}

.code__title__bar {
  background-color: var(--hero-code-title-bg-color);
}
.code__window__controls {
  display: inline-flex;
  padding: 0.5em;
}

.window_btn {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  margin-right: 0.4em;
}

.close {
  background-color: #ff5f56;
}

.minimize {
  background-color: #ffbd2e;
}

.zoom {
  background-color: #27c93f;
}

.code__editor__container {
  flex: 1;
  padding: 0.3em 1.5em 0.3em 0.3em;
  margin: 0;
  counter-reset: line;
  font-size: 0.9em;
  column-gap: 1em;
}

.code__line {
  display: flex;
  align-items: baseline;
}

.code__line:first-child {
  margin-top: 1em;
}

.code__line__number {
  font-size: 0.9em;
  font-family: monospace;
  margin: 0 1em 0 0.5em;
}

.code__line__text {
  font-family: monospace;
  font-size: 1.1em;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "sidebar content";

  height: 100%;
}

.sidebar {
  grid-area: sidebar;
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  color: rgb(80, 80, 80);
}

.sidebar__item {
  display: block;
}

.sidebar__topic {
  background-color: #dbf9f4;
  padding: 1em 1.5em;
}

.sidebar__subtopic {
  font-size: 0.8em;
  padding: 0.5em 0 0.5em 2.5em;
  opacity: 0.7;
  background-color: #e6fdff;
}

.sidebar__topic + .sidebar__subtopic {
  padding-top: 1em;
}

.sidebar__subtopic:hover {
  background-color: #b07bac;
}
.content__container {
  grid-area: content;
}
